#                                  Python Strings

# What is a string in python?
A string is a sequence of characters.In python,strings start and end with single or double quotes.Python does not have a character data type, a single character is simply a string with a length of 1.
For Example,
'python', "py", 'p'

# Creating a string in python?
1.Strings in Python can be created using single quotes or double quotes or even triple quotes.
2.Creating strings is as simple as assigning a value to a variable.
for example,

In [3]:
name='python'
type(name)
# string data type is represented as str

str

In [5]:
string1='python'#single quotes
print(string1)
string2="Hii how are you"#double quotes
print(string2)

python
Hii how are you

In [7]:
#doc string:'triple quotes'
string3=""""hi how are you
        im good
        im learning python"""
string3

'"hi how are you\n        im good\n        im learning python'

triple quotes is means doc string

it is an informatiom about the code

In [17]:
#example of triple quotes
"""
this program about infinite while loop
the original password='python'
function:
      arguments: None
      return: None
"""
def even_odd():
    num=eval(input("enter a num"))
    if num%2==0:
        print("it is a even number")
    else:
        print("it is odd")
        
even_odd()

enter a num3
it is odd

In [18]:
#entire string will be in double quotes, the highlited string in single quotes
print("hello 'python'")
#entire string will be in single quotes, the highlited string in double quotes
print('hello "python"')

hello 'python'
hello "python"

In [20]:
string1='python'
string2=string1 # 'python'
string3='hello' # 'hello'
string4=string3 # 'hello'
string4=string1 # 'python'
string4=string2 # 'python'
string5=string4 #'python'
string5#the final value is stored in string5 is output

'python'

* type
* len
* max
* min

In [21]:
string1='python'
type(string1)

str

In [26]:
print(len(string1))
print(max(string1))
print(min(string1))


for i in string1:
    print(i,ord(i))
#based on ascii values y=max, h=min

6
y
h
p 112
y 121
t 116
h 104
o 111
n 110

# string concatenation
String Concatenation is the technique of combining two strings.Itâ€™s very easy to use the + operator for string concatenation. This operator can be used to add multiple strings together. However, the arguments must be a string.

In [27]:
string1='hello'
string2='python'
string1+string2#concatenation

'hellopython'

In [28]:
string1-string2
# i can not do subtraction between two strings

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [29]:
string1/string2
# i can not do division between two strings

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [30]:
string1*string3
# i can do multiplication between two strings but we use integer value to do multliplication

TypeError: can't multiply sequence by non-int of type 'str'

In [32]:
3*string1+string2
#it means string1+string1+string1=3*string1

'hellohellohellopython'

# indexing
Indexing is the process of accessing an element in a sequence using its position in the sequence (its index).

In Python, indexing starts from 0, which means the first element in a sequence is at position 0, the second element is at position 1, and so on.

To access an element in a sequence, you can use square brackets [] with the index of the element you want to access.

In [33]:
name='python'

In [35]:
# how many letters are there: 6
# python index start with :0

p   y    t    h    o    n
0   1    2    3    4    5

In [37]:
name[0],name[1]

('p', 'y')

name[0]    #  'p'
name[1]    #  'y'
name[2]    #  't'
name[3]    # 'h'
name[4]    #  'o'
name[5]    # 'n'

name[i]

In [40]:
# how to print any word/sentence by using range method
for i in range(6):
    print(name[i])

p
y
t
h
o
n

In [41]:
name1='hello how are you'
# spaces also consider one character
print(len(name1))
# i need to provide some number
for i in range(len(name1)):
    print(name1[i],end=' ')#i=len(name1)=17 i.e numbers, but we want letters name1[i]='hello how are you' by use index method.

17
h e l l o   h o w   a r e   y o u

In [42]:
# wap ask the user print the letters from a given word 
# using for loop
# 'the index of p is:0'
# 'the index of y is:1'

# i want letter as well as attached index number

name2='python'
for i in range(len(name2)):
    print('the index of {} is {}'.format(name2[i],i))

the index of p is 0
the index of y is 1
the index of t is 2
the index of h is 3
the index of o is 4
the index of n is 5

In [43]:
# same code using while loop
i=0
while i<(len(name2)):
    print('the index of {} is {}'.format(name2[i],i))
    i=i+1

the index of p is 0
the index of y is 1
the index of t is 2
the index of h is 3
the index of o is 4
the index of n is 5


-6 -5 -4 -3 -2 -1 ------------>negative index
 p  y  t  h  o  n
 0  1  2  3  4  5 ------------->positive index

In [47]:
name2='python'
name2[-6]#-6 is negative index number

'p'

In [51]:
# wap ask the user print the letters from a given word 
# using for loop
# 'the negative index of p is:-6'
# 'the negative index of y is:-5'

# i want letter as well as attached index number
name3='python'
for i in range(len(name3)):
    print('the negative index of {} is: {}'.format(name3[i],i-len(name3)))
    
#len(name3)=6
#i-len(name3)
#0-6=-6, 1-6=-5, 2-6=-4, 3-6=-3, 4-6=-2, 5-6=-1
#i is len(name3)=6
#i=0to 5 because index starts with zero

the negative index of p is: -6
the negative index of y is: -5
the negative index of t is: -4
the negative index of h is: -3
the negative index of o is: -2
the negative index of n is: -1

In [52]:
#by using while loop
i=0
while i<len(name3):
    print('the negative index of {} is: {}'.format(name3[i],i-len(name3)))
    i=i+1

the negative index of p is: -6
the negative index of y is: -5
the negative index of t is: -4
the negative index of h is: -3
the negative index of o is: -2
the negative index of n is: -1

In [53]:
name='python'
for i in range(len(name)):
    print('the positive index is: {} the negetive index is: {} for {}'. format(i,i-len(name),name[i]))

the positive index is: 0 the negetive index is: -6 for p
the positive index is: 1 the negetive index is: -5 for y
the positive index is: 2 the negetive index is: -4 for t
the positive index is: 3 the negetive index is: -3 for h
the positive index is: 4 the negetive index is: -2 for o
the positive index is: 5 the negetive index is: -1 for n

In [54]:
word = "Learn Python"
for i in range(len(word)):
    print("The +ve Index is {} and -ve Index is {} for:{}".format(i,i-len(word),word[i]))

The +ve Index is 0 and -ve Index is -12 for:L
The +ve Index is 1 and -ve Index is -11 for:e
The +ve Index is 2 and -ve Index is -10 for:a
The +ve Index is 3 and -ve Index is -9 for:r
The +ve Index is 4 and -ve Index is -8 for:n
The +ve Index is 5 and -ve Index is -7 for:
The +ve Index is 6 and -ve Index is -6 for:P
The +ve Index is 7 and -ve Index is -5 for:y
The +ve Index is 8 and -ve Index is -4 for:t
The +ve Index is 9 and -ve Index is -3 for:h
The +ve Index is 10 and -ve Index is -2 for:o
The +ve Index is 11 and -ve Index is -1 for:n

In [61]:
name4='i learn python'
for i in range(len(name4)):
    print(i,name4[i])
    
#===============positive index=========================
for i in range(len(name4)):
    print("the positive index of {} is:{}".format(name4[i],i))
    
#===============negative index=========================
for i in range(len(name4)):
    print("the negative index of {} is:{}".format(name4[i],i-len(name4)))

0 i
1
2 l
3 e
4 a
5 r
6 n
7
8 p
9 y
10 t
11 h
12 o
13 n
the positive index of i is:0
the positive index of   is:1
the positive index of l is:2
the positive index of e is:3
the positive index of a is:4
the positive index of r is:5
the positive index of n is:6
the positive index of   is:7
the positive index of p is:8
the positive index of y is:9
the positive index of t is:10
the positive index of h is:11
the positive index of o is:12
the positive index of n is:13
the negative index of i is:-14
the negative index of   is:-13
the negative index of l is:-12
the negative index of e is:-11
the negative index of a is:-10
the negative index of r is:-9
the negative index of n is:-8
the negative index of   is:-7
the negative index of p is:-6
the negative index of y is:-5
the negative index of t is:-4
the negative index of h is:-3
the negative index of o is:-2
the negative index of n is:-1

In [62]:
sent='hai hai how are you'
#important questions
#Q1 print how many 'a' are there : 3

#Q2 print the index of 'a': 

#Q3 print the number of vowels: a  a  i  o  a  e  o  u

# Q4 print the number of unique vowels:  a i   o   e  u:4

In [21]:
#1st question
#====================================number of a in string============================
#Q1 print how many 'a' are there : 3
sent='hai how are you'
count=0
for i in range(len(sent)):
    if sent[i]=='a':
        count=count+1
print('how many a are there is:',count)

#=====================================getting index of 'a'=====================================
#Q2 print the index of 'a': 
sent='hai how are you'
count=0
for i in range(len(sent)):
    if sent[i]=='a':
        count=count+1
        print(i)
        
print("no of repated a are:",count)

#====================================no of vowels===============================
#Q3 print the number of vowels: a  a  i  o  a  e  o  u
sent='hai how are you'
count=0
#first iterate letters
for i in range(len(sent)):
    if sent[i] in 'aeiou':
        count=count+1
print('no of vowels are there ',count)
#==================================no of unique 'a'=====================================
sent='hai how are you'
string=''
count=0
for i in range(len(sent)):
    if sent[i] in 'aeiou':
        if sent[i]!=string:
            string=string+'a'
            count=count+1
            print(string)
        print('the number of unique a are',count)
        break

how many a are there is: 2
1
8
no of repated a are: 2
no of vowels are there  7
a
the number of unique a are 1

# mutability-immutability concept

In [84]:
string1='python'
# I want to replace 'p'  with  'P'
# based on index operation if you change it or not
# if you change the value by using index operation: mutable
# if you could not change the value by using index operation: immutable

In [85]:
string1[0]='P'

TypeError: 'str' object does not support item assignment

In Python, strings are immutable, which means their values cannot be changed after they are created. Once a string is assigned, you cannot modify the individual characters of the string directly. string valuse cannot be changed by using index operation. But we use concatenation,slicing and string methods we convert 'python' to 'Python'.

# slicing
#1.You can return a range of characters by using the slice syntax.
#2.One way to do this is to use the simple slicing operator i.e. colon(:).
#3.Specify the start index and the end index, separated by a colon, to return a part of the string.

In [1]:
string1='hello how are you'
#slicing concept is same as range() in for loop
len(string1)

17

In [ ]:
 h  e  l  l  o   h  o  w     a  r  e     y  o  u
 0  1  2  3  4 5 6  7  8  9  10 11 12 13 14 15 16

In [87]:
string1='hello how are you'
#string1[start:stop:step]         # range(start,stop,step)
string1[2:10]
# what is the direction:  postive
# start=2
# stop=10-1=9

'llo how '

In [91]:
string1[1:15:2]
# start=1
# stop=15-1=14
# post: step=2
# 1  3   5   7   9   11   13 
# e  l       o       r

'el o r '

In [93]:
string1[1:15:-2]
# start=1
# stop=16
# dire=-ve
# there step direction is negative the start and stop values are positive so they give output as empty string

''

In [95]:
string1[:]
# sting1[start:stop]
# notging is mentioned means
# postive direction
# start=0
# stop=till last charcter

'hello how are you'

In [97]:
string1[::]  # string1[start:stop:step]
#string[0:lastchar:1]
#step value no mentioned means value is always 1 and direction is +ve

'hello how are you'

nothing mentioned at start postition: simply starting of letter

nothing mentioned at stop postion: simply last letter

nothing mentioned at step size: it is postive direction with step value +1

In [99]:
print(string1[0:])#start=0,stop=last character
print(string1[:len(string1)])#start=0,stop=len(string1)
print(string1[:])#start=0,stop=last character,1 colon means start and stop value are there
print(string1[::])#start=0,stop=last character,step=1,2 colon means start, stop and step values are there

hello how are you
hello how are you
hello how are you
hello how are you

In [100]:
-17  -16 -15 -14 -13 -12 -11  -10 -9 -8 -7  -6  -5  -4   -3  -2  -1=====>negative index
h     e   l   l   o       h    o   w     a   r   e        y   o   u
0     1   2   3   4   5   6    7   8  9  10  11  12  13   14  15  16=====>positive index

In [101]:
string1[-2:-15]
# start=-2
# direc
# step value : postive 
# not possible

''

In [102]:
string1[-2:-15:-1]
# start=-2   dire=-ve  stop=-15+1=-14   possible

'oy era woh ol'

In [3]:
string1[-15:-2:-1]

''

In [4]:
string1[-15:-2:2]

'lohwaey'

In [6]:
17  -16 -15 -14 -13 -12 -11  -10 -9 -8 -7  -6  -5  -4   -3  -2  -1
h     e   l   l   o       h    o   w     a   r   e        y   o   u
0     1   2   3   4   5   6    7   8  9  10  11  12  13   14  15  16

In [2]:
string1[8:-15:-1]

#start=8  stop =-15+1=-14  it is positive

'woh ol'

In [3]:
string1[8:-10:-1]

'w'

In [4]:
string1[8:-10:-2]

'w'

In [5]:
string1[::1]

# postive 
# start: start
# stop: last

'hello how are you'

In [7]:
# If i want reverse the string
string1[::-1]
# in the negative 
# start: u
# stop:h

'uoy era woh olleh'

# string methods
Python has a set of built-in methods that you can use on strings.

Note: All string methods returns new values. They do not change the original string.

In [8]:
dir('')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# important string methods.
1.capitalize 2.upper
3.casefold 4.lower

5.upper

6.count

7.index 8.find

9.replace

10.split

11.strip 12.lstrip 13. rstrip

14. startswith 15. endswith

16. isaplha 17.isnumeric 18.isalnum 19.isupper 20.islower 21.isdecimal 22.isdigit

# capitialize
Make the first character have upper case and the rest lower case.

In [10]:
#capitalize(): convert the first character of a string in uppercase and the rest lowercase
name='python'
name

'python'

In [13]:
name.capitalize()

'Python'

# upper
 upper(): Converts all lowercase characters in a string into uppercase

In [19]:
#upper(): Converts alllowercase characters in a string into uppercase
name='python'
name.upper()

'PYTHON'

# lower
lower(): Converts all uppercase characters in a string into lowercase

In [22]:
#lower(): Converts all uppercase characters in a string into lowecase
name='PYTHON'
name.lower()

'python'

# Casefold
casefold(): Converts caseless characters in a string into lowercase.

In [23]:
#casefold: converts caseless characters in a string into lowercase.
name='I leaRn pYthON'
name.casefold()

'i learn python'

In [24]:
string1='hello'

#output: string1='Hello'  with out using string method
# strings immutable: index operations
# hint: using slicing and conactenation

In [25]:
string1='hello'
string2='H'
string3=string1[1:]
string2+string3

'Hello'

# count
count(): Returns the number of occurrences of a substring in the string.

In [28]:
#count(): Return the number of times a specified value occurs in a string
string1='hai  hello how are you'
string1.count('h')

3

In [29]:
# WAP convert above string into lower case
# and count number of 'h'

# Do by using string methods: 4          lower and count
# Do by using with out string methods:4  for loop and if condition

In [30]:
# Method-1:
string1='HAI HAI hai hai'
string2=string1.lower()
string2.count('h')

# M-2:
string1.lower().count('h')

# M-3:
'HAI HAI hai hai'.lower().count('h')

# M-4:
'hai hai hai hai'.count('h')

4

In [34]:
string1='Hai Hai hai hai'
count=0
for i in range(len(string1)):
    if string1[i]=='h' or string1[i]=='H':  # both conditions we are checking at a time
        count=count+1
        
print(count)
# or means any condition is true is fine
# and means both the conditions need be True

4

In [35]:
string1='Hai Hai hai hai'
count=0
for i in string1.lower():
    if i=='h' or i=='H':  # both conditions we are checking at a time
        count=count+1
        
print(count)

4

In [37]:
string1='Hai Hai hai hai'
count=0
for i in string1:
    if i.lower()=='h':  # both conditions we are checking at a time
        count=count+1
        
print(count)
# if you use range function on strings
# use index method

# if you use in operator on string : direct

4

In [38]:
string2='ola ola ola ola'
print(string2.count('ola')) #4
print(string2.count('o'))   #4
print(string2.count('oa'))  #0
print(string2.count('ola '))# 3

4
4
0
3

In [39]:
string2='ola ola ola ola'
len(string2)
# I want to know how many 'a' are there after 4th index

15

In [40]:
o  l  a    o  l  a    o  l  a     o  l  a
0  1  2  3  4 5  6  7 8  9  10 11 12 13 14

In [41]:
string2.count('a',4)
#4 is index number

3

In [42]:
string2.count('a',4)
# here 4 means we are counting 'a' from 4th index

# how many 'a' are there between 4  to 8th index
string2.count('a',4,9)

#ola   ola   ola  ola
#012 3 456 7 8910

# string.count(<char>,start_index)

1

In [43]:
string2[4:].count('ola')
# count method is internally doing the slicing also
# not required slicing when you apply count method

3

In [44]:
# wap by using for if 
count=0
for i in range(len(string2)-2):  # 0  to 12
    if i>=4:
        if string2[i]+string2[i+1]+string2[i+2]=='ola': # 'o'=='ola'  F            
            count=count+1
            
print(count)
    
# you need to count the number of 'o' from index 4
# charcters aswellas number
# in/range           range()

3

In [ ]:
i=4 #==================== True
i=5
i=6
i=7
i=8 #==================== True
i=9
i=10
i=11
i=12 #====================== True
i=13
string2[i]+string2[i+1]+string2[i+2]
string2[13]+string2[14]+string2[15]

# Replace

In [45]:
#replace(): Returns a string where a specified value is replaced with a specified value
string1='welcome'
# I want replace 'l'  with 'L'

In [47]:
string1[2]='L'#strings are immutable by using index method

TypeError: 'str' object does not support item assignment

In [48]:
# welcome =====
#we =string1[:2]    
#come =string1[3:]
# slice + concatenation
string1[:2]+'L'+string1[3:]

'weLcome'

In [49]:
string1.replace('l','L')

'weLcome'

In [50]:
# all together
string1='welcome'
#=============== Slice +Cocatenation================
string1[:2]+'L'+string1[3:]
#=============== Replace method=================
string1.replace('l','L')

'weLcome'

In [51]:
# input:   restart
# output1: $estart
# output2: resta$t
# using replace method

# what is the intial drawback
'restart'.replace('r','$')
# replace method will replace all
# the occurences

'$esta$t'

In [52]:
string1='restart'
print(string1.replace('r','$'))#replace will replace all occurences in a string

$esta$t

In [53]:
string1 ='restart'
print('$'+string1[1:]) # we already know
print(string1[:5]+'$'+string1[6:]) # we already know
print(string1.replace('r','$'))

$estart
resta$t
$esta$t

In [57]:
string1='restart'
string1.replace('r','$',1)#there will replace only one occurence
#1 means only replace one occurence

'$estart'

In [58]:
string1='restart'
print(string1[:1]+string1[1:].replace('r','$',1))
print(string1[::-1].replace('r','$',1)[::-1])

resta$t
resta$t

In [59]:
name='apoorv'
# 'o'  with '0'
name.replace('o','0',1)
# replace
# 1 'o' i need to change

'ap0orv'

# Index
Returns the position of the first occurrence of a substring in a string

In [60]:
string1='python'
# If i want to know  
# index of 't'
string1.index('t')

2

In [68]:
string1='hai hello how are u'
first_index=string1.index('h')
print(first_index)
second_index=string1.index('h',first_index+1)
print(second_index)
third_index=string1.index('h',second_index+1)
print(third_index)

0
4
10

In [69]:
string1='restart how to'
# get the first 't'
f_o=string1.index('t')# it will provide only first occurence of charcter index
s_o=string1.index('t',f_o+1)
t_o=string1.index('t',s_o+1)
#fou_o=string1.index('t',t_o+1)
print(f_o,s_o,t_o)

3 6 12

In [70]:
string1='restart how to'
print(string1.count('t'))  # 3
print(string1.index('t'))  # 3

3
3

In [71]:
string1='restart how to'
print(string1.count('T'))  # 0
print(string1.index('T'))  # sub string error
print(string1.replace('TTTT','&'))#  NO error

0

ValueError: substring not found

In [72]:
'Python'.replace('z','ZZZZZ')  # No error

'Python'

# find
Searches the string for a specified value and returns the position of where it was found and -1 otherwise

In [73]:
string1='restart how to'
f_o=string1.find('t')         
s_o=string1.find('t',f_o+1)
s_o

6

In [76]:
string1='restart how to'
string1.find('z')#it will give -1 value

-1

# split
Splits the string at the specified separator, and returns a list

In [77]:
string1='hai how are you'
string1.split()  # nothing mentioned means it will take the space

['hai', 'how', 'are', 'you']

In [78]:
string2='hai how,are you'
string2.split(',')

['hai how', 'are you']

In [80]:
string3='hii hello how are you'
string3.split('e')

['hii h', 'llo how ar', ' you']

In [81]:
sent1='rashaad.omkar@gmail.com'
#extract only omkar
sent1.split('@')
extract=sent1.split('@')[0].split('.')[1]
print(extract)

omkar

In [82]:
s3='jujjavarapu.tharun@gmail.com'

In [92]:
s3.split('@')[0]:s3.split('.')[1]

In [94]:
s3[s3.find('.')+1:s3.find('@')]

'tharun'

In [95]:
s3[s3.index('.')+1:s3.index('@')]

'tharun'

In [96]:
sent2='mobin.sourav@uma.com' 
print(sent2.index('.'))#index number only give it
sent2='mobin.souravsahoo@narehit.ac.in' 
sent2='bikas.sourav@mlr.edu.ac.in' 
sent2[sent2.index('@')+1:sent2.index('.',sent2.index('.')+1)]
#it  is index operation start and stop value taken by index method without counting

5

'mlr'

# strip # lstrip # rstrip

In [97]:
string1=' hai how are you ' # both  strip
string2='hai how are you ' # right  strip/rstrip
string3=' hai how are you' # left   strip/lstrip

if you want remove the spaces we use method strip

strip: It will remove spaces both sides

lstrip: It will remove left side space

rstrip: It will remove right side space

In [98]:
string1.strip(),string1.lstrip(),string1.rstrip()

('hai how are you', 'hai how are you ', ' hai how are you')

In [99]:
print(string1)
print(string2.strip())
print(string2.lstrip())
print(string2.rstrip())

 hai how are you
hai how are you
hai how are you
hai how are you

In [100]:
string1='&&&&&hello&&&&&&&&&&&&&&&&&&&'
print(string1.strip('&'))
print(string1.lstrip('&'))
print(string1.rstrip('&'))

hello
hello&&&&&&&&&&&&&&&&&&&
&&&&&hello

# startswith-endswith
startswith() ---->Returns â€œTrueâ€ if a string starts with the given prefix.

endswith() ----->Returns true if the string ends with the specified value.

In [101]:
string1='pasha,hai how are you'
string1.startswith('p')

True

In [102]:
string1.endswith(' you')

True

In [103]:
string1.startswith(string1)

True

In [104]:
string1.startswith('y')

False

In [109]:
string1.endswith(string1)

True

In [112]:
string1.endswith('yu')

False

# isaplha
Returns â€œTrueâ€ if all characters in the string are alphabets and false otherwise.

In [8]:
string1='python'
string1.isalpha()

True

# isnumeric
Returns â€œTrueâ€ if all characters in the string are numeric characters and false otherwise.

In [9]:
string1='12345'
string1.isnumeric()

True

# isalnum
Checks whether all the characters in a given string is alphanumeric or not.

In [10]:
string1='python123'
print(string1.isalnum())

True

# islower
Checks if all characters in the string are lowercase

In [11]:
string4='my name is tharun'
string4.islower()

True

# isupper
Checks if all characters in the string are uppercase

In [13]:
string1='PYTHON'
string1.isupper()

True

# isdigit
Returns â€œTrueâ€ if all characters in the string are digits

In [15]:
string1='123456'
string1.isdigit()

True

# isdecimal
Returns true if all characters in a string are decimal

In [19]:
string1='124563'
string1.isdecimal()

True