In [ ]:
- Strings

- List

- Dictionary

- tuple/set

- lambda functions

- file handling

$Dictionary$

In [2]:
names=['Ram','Raheem','Robert']
ages=[25,30,35]

# the ram age is 25
# The Raheem age is 30

for i,j in zip(names,ages):
    print(i,j)

Ram 25
Raheem 30
Robert 35

In [3]:
string1='python'
list1=[1,'A',10.5]

**key-value** pair conecpt

{key:value}

In [9]:
dict1={'zam':25,'Raheem':30,'Robert':35}
dict1

{'zam': 25, 'Raheem': 30, 'Robert': 35}

- type

- len

- max

- min

In [6]:
type(dict1)

dict

In [7]:
len(dict1)

3

In [10]:
max(dict1)  # on which

'zam'

In [11]:
min(dict1)

'Raheem'

- max values and min values based on keys only

In [22]:
d1={'Ram':25,'Raheem':30,'Robert':35}
d2={'names':['Ram','Raheem','Robert'],
   'ages':[25,30,35]}

d3={25:'Ram'}
#d4={['Ram','Raheem','Robert']:'names'} # fail
d5={25:35}
d6={'A':'Apple',
    'B':10.5,
    'C':10+5j,
    12:['A','B','C']}  # works

d7= {'Fruits':{'like':['Apple','Cherry']}}  # json file types 

list1=[{'like':['Apple','Cherry']}]
list1

[{'like': ['Apple', 'Cherry']}]

- If you provide multiple values at key postition it will fail

In [26]:
d8={'Mobin':'Amazon','Mobin':'AMAZON'}
d8

{'Mobin': 'AMAZON'}

- Duplicates are not allowed

In [24]:
d9={'Ravi':25,'Ravi':35}
d9

{'Ravi': 35}

- If keys are same the last value will taken

In [27]:
dict1

{'zam': 25, 'Raheem': 30, 'Robert': 35}

In [32]:
'zam' in dict1    #'zam':25  in dict1
'Raheem' in dict1
'Robert' in dict1

#i in dict1

True

In [33]:
for i in dict1:
    print(i)
    
# Very important

zam
Raheem
Robert

$index$

- dictionary values retrive based on keys only

In [34]:
dict1

{'zam': 25, 'Raheem': 30, 'Robert': 35}

In [35]:
dict1[0]  # with index will fail

KeyError: 0

In [40]:
dict1['zam'],dict1['Raheem'],dict1['Robert']

(25, 30, 35)

In [ ]:
1.Is one key will allow multiple values. # have you missed the class
2.How can we retrieve the particular value from dictionary. # will do this

In [43]:
# WAP by using for loop get the values
# if you iterate normally only keys are coming

for i in dict1:
    print(i,dict1[i])

zam 25
Raheem 30
Robert 35

In [36]:
str1='python'
str1[0]

'p'

In [37]:
list1=[1,2,3]
list1[0]

1

In [41]:
number=20,30
number

# this we discussed in function

(20, 30)

In [54]:
d2={'names':['Ram','Raheem','Robert'],
   'ages':[25,30,35]}

d2['names'][0],d2['ages'][0]
d2['names'][1],d2['ages'][1]
d2['names'][2],d2['ages'][2]

for i in range(3):
    print(d2['names'][i],d2['ages'][i])

Ram 25
Raheem 30
Robert 35

In [60]:
d1={'hello':{'hello':{'hello':{'hello':'python'}}}}
d1['hello']['hello']['hello']['hello']

# retrive python

'python'

In [74]:
d2={'hello':[{'fruits':['Apple','banana',
                        {'like':['cherry']
                        }
                       ]
             }
            ]
   }

d2['hello'][0]['fruits'][2]['like'][0]

'cherry'

In [ ]:
# How to create a emapty dictionary

In [75]:
dict1={}

list1=[]

string1=''

In [76]:
dict1['Nareshit']=['DS','MLOPS','DE']
dict1

{'Nareshit': ['DS', 'MLOPS', 'DE']}

In [77]:
dict1['India']='in semis'
dict1

{'Nareshit': ['DS', 'MLOPS', 'DE'], 'India': 'in semis'}

In [78]:
dict2={}
dict2['Apple']='fruit'
dict2['Car']='vehicle'
dict2

{'Apple': 'fruit', 'Car': 'vehicle'}

In [ ]:
#wap ask the user get 5 random numbers between 10 to 100
# and perform even and odd operation

# output: {'even':[10,12,14],'odd':[11,13]}


# step-1: take empty dictionary
# step-2: take two empty list
# step-3: import random package
# step-4: iterate for loop 5 tims
# step-5: ask everytime get a random number
# step-6: if condition
# step-7:    append the values
# step-8: else condtion
# step-9:    append the values
# step-10:  you know howto create the dictionary

In [80]:
dict3={}
list1=[]
list2=[]
import random
for i in range (5):
    num=random.randint(1,100)
    if num%2==0:
        list1.append(num)
    else:
        list2.append(num)
dict3['even']=list1
dict3['odd']=list2
dict3

{'even': [28, 82, 94, 16], 'odd': [93]}